@font-face {
  font-family: "Montserrat";
  src: url('font/Montserrat-Regular.ttf');
}

body {
  display:flex;
  flex-direction:column;
  height:100vh;
  margin:0;
  line-height: 1.56;
  font-family: Montserrat;
  font-size: 18px;
}

header {
  min-height:100px;
  background:url('img/warmingstripes.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

footer {
  margin-top:auto;
  /* min-height:100px; */
  margin-right: 15%;
  margin-left: 15%;
}

footer ul {
  float: right;
  vertical-align: top;
}

footer li {
  text-decoration: none;
  display: inline-block;
  /* font-size:50px;  with icons*/
  font-size:18px;
  padding: 10px;
}

footer li i {
  color: #606060;
}

footer li i:hover {
  color: #FB6A4A;
}


article {
  margin-top: 50px;
  width:70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 100px;
}

article h1 {
  font-size: 52px;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color:black;
}

footer a:hover {
  text-decoration: 5px underline #FB6A4A;
}

#foto-id {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-size:18px;
  padding: 10px;
  border: none;
  background-color: darkgray;
  color: white;
}

button:hover {
  background-color: #FB6A4A;
}  */
