@font-face {
  font-family: "Montserrat";
  src: url('font/Montserrat-Regular.ttf');
}

body {
  display:flex;
  flex-direction:column;
  height:100vh;
  margin:0;
  line-height: 1.56;
  font-family: Montserrat;
}

header {
  min-height:100px;
  background:url('img/warmingstripes.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

footer {
  margin-top:auto;
  min-height:10px;
  text-align: center;
}

footer li {
  text-decoration: none;
  display: inline-block;
  font-size:50px;
}

footer li i {
  padding-right: 50px;
  color: #606060;
}

footer li i:hover {
  color: #FB6A4A;
}


article {
  width:70%;
  margin-left: 15%;
  margin-right: 15%;
}

article h1 {
  font-size: 52px;
  font-weight: bolder;
}

article p {
  font-size: 18px;
}

#foto-id {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
